{% extends 'base.html' %}

{% block contenido_cambia %}
    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->

    {% if destinos %}
        {% for destino in destinos %}
            <h3><p>{{ destino.titulo }}</p></h3>
            <p>{{ destino.descripcion }}</p>
        {% endfor %}
    {% else %}
        <h4>No hay destinos filtrados </h4>
    {% endif %}


    <h4>Comentarios</h4>
    {% if comentarios %}
    {% for comentario in comentarios %}
    <p>{{ comentario.comentario }}</p>
        <p><small>{{ comentario.nombre }} - {{ comentario.correo_electronico }}</small></p>
        <hr><br>
    {% endfor %}
{% else %}
    <p>No hay comentarios todavía.</p>
{% endif %}

{% endblock %}