{% extends 'base.html' %}

{% block contenido_cambia %}
    <h3>Destinos</h3>

    <form action="{% url 'AppCoderBuscarDestino' %}">
        {{ form_buscar.as_p }}
        <input type="submit" value="Buscar">
    </form>

<hr><br>
<a href="{% url 'AppCoderCrearDestino' %}">Creacion del destino</a>

<hr><br>

    {% if destinos %}
        {% for destino in destinos %}
        <h4><li>{{ destino.titulo }}</li></h4>
            <h6>{{ destino.subtitulo }}</h6>
                {{ destino.descripcion|truncatewords:15 }} <a href="{% url 'AppCoderDetalle_destino' destino.id %}">Leer más...</a> <br>
                
                {{ destino.autor }} - {{ destino.fecha}}
                <br>
                <a href="{% url 'AppCoderEliminarDestino' destino.titulo %}">Eliminar</a> <a href="{% url 'AppCoderEditarDestino' destino.titulo %}">Editar</a><br>
                {% if destino.imagen %}
                    <img src="{{destino.imagen.url}}" alt="{{destino.titulo}}">
                {% endif %}
                
                
                <br>
                <br>
                <br>
        {% endfor %}

    {% else %}
        <h4>No hay destinos hasta el  momento</h4>
    {% endif %}
    <br>
    <br>
    <br>
            <!-- Side widgets-->
            <div class="col-lg-4">

                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Web Design</a></li>
                                    <li><a href="#!">HTML</a></li>
                                    <li><a href="#!">Freebies</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">JavaScript</a></li>
                                    <li><a href="#!">CSS</a></li>
                                    <li><a href="#!">Tutorials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


{% endblock %}