{% extends 'base.html' %}

{% block contenido_cambia %}
    <h1>Inicio</h1>
    <h3>Bienvenidos a nuestro Blog de Viajes</h3>
        <p>Explora el mundo con nosotros y descubre los lugares más hermosos e interesantes del planeta. Desde los destinos más populares hasta los rincones menos conocidos, nuestro blog te llevará a través de experiencias únicas y emocionantes.</p>
        <p>En nuestro blog encontrarás destinos, hoteles, museos y recomendaciones para planificar tus próximas aventuras. ¡Sigue explorando y aprendiendo con nosotros!</p>
    </h3>

{% endblock %}