{% extends 'base.html' %}

{% block contenido_cambia %}
    <h3>Bienvenidos a nuestro Blog de Viajes</h3>
        <p>Explora el mundo con nosotros y descubre los lugares más hermosos e interesantes del planeta. Desde los destinos más populares hasta los rincones menos conocidos, nuestro blog te llevará a través de experiencias únicas y emocionantes.</p>
        <p>En nuestro blog encontrarás destinos, hoteles, museos y recomendaciones para planificar tus próximas aventuras. ¡Sigue explorando y aprendiendo con nosotros!</p>
    </h3>

<!-- Preview image figure-->
<img src="https://previews.123rf.com/images/delcreations/delcreations1706/delcreations170600066/80701035-collage-de-fotos-de-lugares-de-inter%C3%A9s-mundial-en-vendimia-tes-textura-sepia-fondo-viajes-turismo.jpg" alt="Descripción de la imagen">
{% endblock %}