<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blogparaviajero</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'AppCoder/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppCoder/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">

                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <img src="{{ user.avatar.imagen.url }}" alt="Usuario" height="30 px">
                        <li class="nav-item"><a class="nav-link" href="{% url 'accountlogout' %}">Logout</a></li>
                        <a class="nav-item">{{ user.username }}</a>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accountlogin' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'accountregistrar' %}">Registrar</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>



        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <div class="container">
                <div class="categories">
                    <a class="navbar-brand" href="{% url 'AppCoderDestinos' %}">Destinos</a>
                    <a class="navbar-brand" href="{% url 'AppCoderAlojamientos' %}">Alojamientos</a>
                    <a class="navbar-brand" href="{% url 'AppCoderMuseos' %}">Museos</a>
                </div>
        
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'AppCoderHome' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://ar.linkedin.com/in/luciana-mancuso-b0289b1a4r">About me</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        

        <!-- Body-->
        {% block contenido_cambia %}
        <h1>No se encuentra contenido</h1>

        {% endblock %}


        
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'AppCoder/js/scripts.js' %}"></script>
    </body>
</html>
